.realty-item {
    display: flex;
    margin-bottom: 20px;

    @media (max-width: $breakpoint-s) {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.realty-item__photo {
    img {
        display: block;
    }
}

.realty-item__link {
    text-decoration: none;
    color: #009cf0;

    &:hover {
        color: #ff6163;
    }
}

.realty-item__title {
    margin: 0;
    font-size: 14px;
}

.realty-item__descr {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
    color: #8f8f8f;

    @media (max-width: $breakpoint-s) {
        padding: 0;
        margin-top: 10px;
    }
}

.realty-item__price {
    font-weight: 700;
    color: #000;
}

.realty-item__addr {
    word-wrap: break-word;
    word-break: normal; /* для Opera и FireFox */
    word-break: break-word; /* для Chrome */
}
